
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>تطبيق درس خصوصي </title>
</head>
<body style="font-family:tahoma;">
    <div class="container" style="margin: 0 auto;display: table;background: #fff;">

        <div class="logo" style="padding:10px 40px;height:80px;  border: 1px #f2f2f2 solid;direction: rtl; background: #fafafa;
            width: 600px;">
            <a href="#" style="float:right;text-decoration:none;">
                <img src="https://mhana.azurewebsites.net/assets/logo_color.png" alt="logo" class="logo-default" width="50px" height="70px" style="margin:5px 0 0" />

            </a>
            <ul class="social-icons" style=" margin-top:=margin-top 25px;float:=25px;float left;"=left;">
                <li style="display: inline;"><a style="text-decoration: none;" href="#" target="_blank"> <img src="https://mhana.azurewebsites.net/images/facebook.png" width="30px" height="30px" /> </a></li>
                <li style="display: inline;"><a style="text-decoration: none;" href="#" target="_blank"> <img src="https://mhana.azurewebsites.net/images/twitter.png" width="30px" height="30px" /> </a></li>
                <li style="display: inline;"><a style="text-decoration: none;" href="h#" target="_blank"> <img src="https://mhana.azurewebsites.net/images/youtube.png" width="30px" height="30px" /></a></li>
                <li style="display: inline;"><a style="text-decoration: none;" href="#" target="_blank"> <img src="https://mhana.azurewebsites.net/images/instagram.png" width="30px" height="30px" /> </a></li>
            </ul>
        </div>
        <div style="padding: 40px;border: 1px #f2f2f2 solid;direction: rtl; background:#fafafa;
            width: 600px; margin-top:20px;">
            <div style="background: #ffffff; padding:30px;">
                @RenderBody()
            </div>
        </div>
        <p style="color: #797979; font-size:12px; text-align:center;">
            الرسالة مرسلة من تطبيق معلن ، الرجاء عدم الرد على الرسالة حيث انها مرسلة من المنصة الالكترونية ولا نتمكن من الرد على رسالتك ، في حال وجود اي ملاحظات يمكن التواصل على الايميل
            <br />
            <span style="font-family:tahoma; color: #489e69; font-size:14px;">info@privatelessonforyou.com</span>
        </p>
        <div style="padding-top: 30px;">
            <ul style="text-align: center;list-style-type:none;font-size:14.7px;color:#858585;">
                <li style="display:inline;color:#858585;margin-left:10px;"><a style="text-decoration:none;color: #858585;" href="#" target="_blank">تطبيق الأندرويد</a> <span style="color:#ececec;margin-right:5px;">|</span> </li>
                <li style="display:inline;color:#858585;margin-left:10px;"><a style="text-decoration:none;color: #858585;" href="#" target="_blank">تطبيق الأيفون</a> <span style="color:#ececec;margin-right:5px;">|</span> </li>
                @*<li style="display:inline;color:#858585;margin-left:10px;"><a style="text-decoration:none;color: #858585;" href="#" target="_blank">المميزات</a> <span class="dashh" style="color:#ececec;margin-right: 5px;">|</span> </li>

                    <li style="display:inline;color:#858585;margin-left:10px;"><a style="text-decoration:none;color: #858585;" href="#" target="_blank">احصائيات</a> <span class="dashh" style="color:#ececec;margin-right: 5px;">|</span> </li>*@
                <li style="display:inline;color:#858585;margin-left:10px;"><a style="text-decoration:none;color: #858585;" href="#" target="_blank">تواصل معـنا</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

