@{
    string message = TempData["Message"] as string;
    string status = TempData["Status"] as string;
    if (!String.IsNullOrEmpty(message))
    {

        @*<div class="alert alert-@TempData["Status"]">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong><i class="fa fa-check-circle"></i> </strong> @message
            </div>*@


        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-@(status=="0"?"danger":"success") alert-dismissible fade show" role="alert">
            <div class="m-alert__icon">
                <i class="la la-@(status=="0"?"remove":"check")"></i>
            </div>
            <div class="m-alert__text">
                <strong> @(status == "0" ? "نأسف" :"شكراً لك ")  </strong> @message
            </div>
            <div class="m-alert__close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
}


