
@{
    ViewBag.Title = "HowWork";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutAdmin2.cshtml";
}


<div class="m-portlet">
    <div class="m-portlet__body  m-portlet__body--no-padding">

        <iframe width="100%" height="500" src="https://www.youtube.com/embed/ZKgcW9W8ld8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>