@model NileThink.Framework.PrivateLessonManagementSystem.BLL.ViewModels.ChangeUserModel
@{
    ViewBag.Title = "foregetPassword";
    Layout = "~/Views/Shared/_Email.cshtml";
}

<span style="font-weight: bold;font-family:tahoma;"> عزيزي المستخدم: @Model.name</span>
<div style="font-size:15px; margin-top:20px;font-family:tahoma;">
   لقد قمت بطلب تغيير كلمة المرور الخاصة بك في تطبيق درس خصوصي يرجى الضغط على الرابط التالي لاكمال عملية تغيير كلمة المرور الخاصة بك
    <br />
    لاكمال بياناتك [<a href="@Model.url
">اضغط هنا</a>]
    <br />

