@model NileThink.Framework.PrivateLessonManagementSystem.DAL.Models.tbl_membership
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Shared", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    .
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            إضافة الإشتراك المميز
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <form class="m-form m-form--fit" action="@Url.Action("Add")" method="post" enctype="multipart/form-data">
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">

                        <div class="m-form__heading">
                            <h3 class="m-form__heading-title">بيانات الإشتراك المميز : </h3>
                        </div>
                        <input type="hidden" name="id" />
                        <input type="hidden" name="is_active" />
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">إسم الباقة  </label>
                                <input type="text" class="form-control m-input" name="name_ar" required>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">اسم الباقة (بالانجليزية) </label>
                                <input type="text" class="form-control m-input" name="name_en" required>

                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">مدة الباقة  </label>
                                <input type="number" class="form-control m-input" name="period_no" required>

                            </div>
                            <div class="col-md-6">
                                <label for="example_input_full_name">فترة الباقة </label>
                                <div class="m-input-icon m-input-icon--left">
                                    <select class="form-control m-input" name="period_type" required>
                                        <option value="">-- فترة الباقة --</option>
                                        <option value="1">يوم</option>
                                        <option value="2">شهر</option>
                                        <option value="3">سنة</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group m-form__group row">
                            <div class="col-md-6">
                                <label for="example_input_full_name">رسوم الباقة  </label>
                                <input type="number" class="form-control m-input" name="cost" required>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <button type="submit" class="btn btn-success">حفظ المتغيرات</button>
                        <button type="reset" class="btn btn-secondary">الغاء الأمر</button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>

        <!--end::Portlet-->
    </div>
</div>